@charset "UTF-8";
.lang {font-size: 14px;}
.header_title {padding-top:76px;}
.header_title h1{max-width: 640px;}
.header_title p {margin-top:0; font-size: 18px;margin-top: -20px;}
.link_icon {width: 44px; height: 44px;}
.header_featured_image { padding-top: 420px; }
.section_title h1 {font-size: 32px; display: inline-block; padding-top: 30px;}
.section_text{width: 75%; padding-top: 60px;}
.section_text h1 {font-size: 20px; padding-top: 20px;}
.section_text p{font-size: 16px;}
.section_apps h1{font-size: 18px;}	
.section_apps li{width:88px;padding:0 16px;font-size: 14px; display: inline-block;}
.section_feature li:first-child{ margin-left: 8%; }
.section_feature li{ width: 26%; padding: 0; display: inline-block;}
.section_feature li h2{font-size: 16px;}
.section_feature li p{font-size: 14px;}
#contact address p { font-size: 12px; }
.contents_section {width: 75%; background: yellow;}
.flexslider .slides img { width: 75%; padding-left: 12.5%;}
.flex-control-paging { height: 30px; bottom: -54px;}
.flex-control-paging li a { background-image: url(images/paging_dot.png); background-color: #ffffff; box-shadow: none; }
.flex-control-paging li a:hover { background-image: url(images/paging_dot_active.png); background-color: #ffffff; box-shadow: none; }
.flex-control-paging li a.flex-active { background-image: url(images/paging_dot_active.png); background-color: #ffffff; box-shadow: none; }
#contact,#copyright {padding-top: 0;}
